.radius{
    border-radius: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.imgboy{
    width: auto;
    height: auto;
}
.center{
    text-align: center;
}

.galeri{
    width: auto;
    height: auto;
}
.margin{
    margin: 11px;
}

.baslik{
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.metinler{
    font-size: 15pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 2px;
    border-radius: 15px;
}
.bg{
    background-color: azure;
}

article, img {
	position: relative;
	z-index: 1;
}
.top {
	z-index: 2;
}
.bottom:hover {
	z-index: 3;
}
@media only screen and (min-width:150px) and (max-width: 1800px){
.aimg{
    max-width:100%;}
.center{
    margin: auto;
}
}

footer{
    margin-top: 15px;
    background-color: rgb(49, 49, 49);
    color: white;
    text-align: center;
    clear: both;
    padding: 8px;
}
iframe{
    max-width:100%;
}
.aw-zoom
{
    position: relative;

    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
}
.hover:hover {
    -ms-transform: scale(1.6);
    -webkit-transform: scale(1.6);
    transform: scale(1.6); 
}